/OpenGLExercises/.vs
/OpenGLExercises/glfw-3.2.1/build/.vs
/OpenGLExercises/glfw-3.2.1/build/CMakeFiles
/OpenGLExercises/glfw-3.2.1/build/examples
/OpenGLExercises/glfw-3.2.1/build/src/glfw.dir
/OpenGLExercises/glfw-3.2.1/build/tests
/OpenGLExercises/glfw-3.2.1/build/Win32