/OpenGLExercises/.vs
/OpenGLExercises/Debug
/OpenGLExercises/glfw-3.2.1/build/
!/OpenGLExercises/glfw-3.2.1/build/src/Debug/glfw3.lib
/OpenGLExercises/OpenGLExercises/Debug
/OpenGLExercises/OpenGLExercises/x64
/OpenGLExercises/x64
*.user